.wow{
background-image:url(3.png);
background-repeat:no-repeat;
background-attachment: fixed;
background-size: cover;
}
.gg{
  text-align: center;
font-family: arial;}
.qwe{height: 260px;
display: block;
margin-left: auto;
margin-right: auto;
border: solid 5px rgb(255, 77, 77);}
.rty{
font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
text-align: center;
font-size: x-large;
color: yellow;
margin-top :50px;}
.dot{height: 25px;
  width: 25px;
  background-color: #ff0000;
  border-radius: 50%;
  display: inline-block;}
  .waya{font-family: arial;
        text-align: center;}
  .dot1{height: 25px;
    width: 25px;
    background-color: #ff0000;
    border-radius: 50%;
    display: inline-block;}
    .waya1{font-family: arial;
      text-align: center;}
      .dot2{height: 25px;
        width: 25px;
        background-color: #ff0000;
        border-radius: 50%;
        display: inline-block;}
.waya2{font-family: arial;
  text-align: center;}

.dot3{height: 25px;
  width: 25px;
  background-color: #ff0000;
  border-radius: 50%;
  display: inline-block;}
.waya3{font-family: arial;
  text-align: center;}
.dot4{height: 25px;
  width: 25px;
  background-color: #ff0000;
  border-radius: 50%;
  display: inline-block;}
.waya4{font-family: arial;
  text-align: center;}
.dot5{height: 25px;
  width: 25px;
  background-color: #ff0000;
  border-radius: 50%;
  display: inline-block;}
.waya5{font-family: arial;
  text-align: center;}
.dot6{height: 25px;
  width: 25px;
  background-color: #ff0000;
  border-radius: 50%;
  display: inline-block;}
.waya6{font-family: arial;
text-align: center;}

.wayaimg{
height :280px;
display: block;
margin-left: auto;
margin-right: auto;
border: solid 5px lime}
.malaimg{
  height :280px;
  display: block;
  margin-left: auto;
  margin-right: auto;
  border: solid 5px lime}
.varaimg{
  height :280px;
  display: block;
  margin-left: auto;
  margin-right: auto;
  border: solid 5px lime}
.kadaimg{
  height :280px;
  display: block;
  margin-left: auto;
  margin-right: auto;
  border: solid 5px lime}
.alapimg{
  height :280px;
  display: block;
  margin-left: auto;
  margin-right: auto;
  border: solid 5px lime}
.kovaimg{
  height :280px;
  display: block;
  margin-left: auto;
  margin-right: auto;
  border: solid 5px lime}
.varkimg{
  height :280px;
  display: block;
  margin-left: auto;
  margin-right: auto;
  border: solid 5px lime}
.jataimg{
  height :280px;
  display: block;
  margin-left: auto;
  margin-right: auto;
  border: solid 5px lime}
.conclusion{font-family: 'Courier New', Courier, monospace;
text-align: center;
color:white;
-webkit-text-stroke-width: 1px;
-webkit-text-stroke-color: rgb(0, 0, 0);}
.credits{color: rgb(0, 255, 42);
-webkit-text-stroke-color: #ff0000;
-webkit-text-stroke-width: 1px;
text-align: right;
font-family: arial;
font-size:xx-large;}

      
    
    
  

